body {
    
}

#banner {
    width: 100%;
}

.principal {
    background-color: #CCCCCC;
    padding: 30px;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
    color: #FF0000;
}

h3 {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    a href="index.html";
}

.itens {
    text-style: italic;
}

.beneficios {
    background:  #FFFFFF;
    padding: 20px;
}

.imgrs {
    display: flex;
    width: 30%;
    padding: 20px;
     vertical-align: top;
}

table, th, td {
  border:1px solid black;
    border-radious: 10px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.flex-container > div {
  background-color: #FFFFFFF;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}





